@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");

.brand-section-container {
  height: auto;
  width: 100%;
  background-color: white;
  padding: 8px;
}
.brand-section-container .item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.brand-section-container .item-container .brand-item {
  height: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  padding: 15px;
}
.brand-section-container .item-container .brand-item .middle-content {
  color: #4b4f55;
  line-height: 33px;

  font-size: 16px;
}
.brand-section-container .item-container .brand-item .top-content h1 {
  color: #3e4555;
}
.brand-section-container .item-container .brand-item .top-content h3 {
  color: #ff4d86;
}
